pep8==1.4.5
pyflakes>=0.7.2,<0.7.4
flake8==2.0
docutils>=0.11  # OSI-Approved Open Source, Public Domain
# required to build documentation
sphinx>=1.6.2  # BSD
testrepository>=0.0.18
testtools>=0.9.34
mock
coverage
httmock
openstackdocstheme>=1.11.0  # Apache-2.0
